{% extends "layout.html" %}
{% block title %}
{{station_name}} Station Reliability
{% endblock %}
	{{ super() }}
{% block content %}
<div class="stop-body">
		<div class="station-logo">
			<i class="fa fa-subway" style="font-size:25px; margin-left: 5px;"></i> <h3 class="station-logo-name">{{station_name}}</h3>
			<hr class="hor-line">
		</div>

		<div class="real-time-status-wrapper alert {{'alert-primary' if current_hour_avg_delay==0 else 'alert-danger' if current_hour_avg_delay == 2 else 'alert-warning'}}" role="alert">
			<i class="fa fa-clock-o" style="font-size:32px;"></i>
			<h3 class="real-time-status">Trains typically run {% if current_hour_avg_delay==0 %}on time{% else %} {{current_hour_avg_delay}} minute{% if current_hour_avg_delay>1 %}s{% endif %} late at this station, {% endif %} at this time of day.</h3>		
		</div>
	
		<h4> Punctuality by Line </h4>
		<table class="table">
			<thead class="thead-dark">
			<tr>
				<th scope="col">Line</th>
				<th scope="col">Average Delay</th>
				<th scope="col">Average Delay for this Hour</th>
			</tr>
			</thead>
			<tbody>
				{% for i in routes %}
			<tr>
				<th scope="row" style="background-color:{{i["colour"]}}; color: white;">{{i["name"]}}</th>
				<td>{{i["avg_delay"]}}</td>
				<td>{{i["current_hour_avg_delay"]}}</td>
			</tr>
			{% endfor %}
			</tbody>
		</table>
		{{ dateline | safe }}
</div>

{% endblock %}
