.station-link {
  display: contents;
}

.card-title {
}

.card {
  height: 400px;
  overflow: scroll;
  padding: 10px 15px;
}

.row {
  padding: 10%;
}

.station-name {
  display: block;
  color: white;
  padding: 5px;
  border-radius: 5px;
  clear: both;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.top-area {
  padding: 4% 10%;
}

.fa-subway{
  color: white;
}