/* Index */
.row {
  padding: 5% 10%;
}

.card {
  height: 400px;
  overflow: scroll;
  padding: 10px 15px;
}

.station-link {
  display: contents;
}

.station-name {
  display: block;
  color: white;
  padding: 5px;
  border-radius: 5px;
  clear: both;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.top-area {
  padding: 4% 10% 2% 10%;
}

.fa-subway {
  color: white;
}

.search-box-wrapper {
  padding: 0 10%;
  width: 100%;
}

#search-box {
  width: 100%;
  height: 60px;
  font-size: 22px;
  padding: 10px;
  border-radius: 5px;
  border: black solid 3px;
  clear: both;
}

#footer {
  padding: 2% 0;
  text-align: center;
}

.title-link {
  font-size: 30px;
  color: black;
}

.title-link:hover {
  color: black;
  text-decoration: none;
}

/* Stop Page */
.stop-body {
  padding: 2% 10% 0 10%;
}

/* Station logo */
.station-logo {
  display: table;
  padding: 5px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.station-logo-name {
  color: White;
  display: inline-block;
  padding-left: 10px;
}

.hor-line {
  margin: 0;
  padding-top: 2px;
  padding-bottom: 8px;
  margin-left: -5px;
  margin-right: -5px;
  border-color: White;
}

.real-time-status-wrapper {
  margin: 20px 0;
  width: 100%;
  text-align: center;
}

.real-time-status {
  display: inline-block;
}

.deplay-graph {
  background-color: #F9F9F9;
  overflow: scroll;
}